@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.navIcons {
  font-size: 1.875rem;
  line-height: 2.25rem;
  &:hover {
    color: #aa0c10;
  }
}

.castleBG {
  background-image: url("./images/castle.jpg");
  background-repeat: none;
  background-size: cover;
  background-position-y: center;
}

.diceBG {
  background-image: url("./images/dices.jpg");
  background-repeat: none;
  background-size: cover;
  background-position-y: center;
}

.authBG {
  background-image: url("./images/dicesLoign.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
